@yellow: #edfb09;
@red: #fb3609;
@green: #5fd119;

.margenes(@top, @bottom){
	margin-top:@top;
	margin-bottom:@bottom;
}

.jumbotron{
	
	background: @yellow;
	text-align: center;
	.margenes(50px,0px);
	
}

footer{

	padding: 10px 10px 0 10px;
	background: @yellow;
	.margenes(10px,0px);

}

.card-hotel{

	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva{

	width: 100%;
	border-radius: 0px;


}

h1, h2, h3,h4{
	font-weight: bold;
	background: @green;
}

/*body{
	background-color: #d9edf0;
}*/

.footer-adress-icon{
	padding-right: 10px;
	background: @red;
}

.tab-content{
	padding-top: 10px;
}

.boton{
	margin: 5px 10px 5px 10px;
}

.botonContacto{
	margin: 2px 10px 15px 10px;
}