.jumbotron {
  background: #f84d00;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background: #f84d09;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

h1, h2, h3, h4 {
  font-weight: bold; }

/*body{
	background-color: #d9edf0;
}*/
.footer-adress-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.boton {
  margin: 5px 10px 5px 10px; }

.botonContacto {
  margin: 2px 10px 15px 10px; }
