body{

	background-color: #cbcaca;
}

h1{
	text-align: center;
	text-shadow: 2px 2px 15px #040000;
	margin: 100px;
}

div{

	width: 300px;
	border: 5px outset;
	/*padding: auto;*/
	margin:auto;
	text-align: center;


}

blockquote{
	text-align: center;
}

#dni_resultado{
	text-align: center;
	border: 0px;
	background-color: #cbcaca;
	font-size: 15px;
	font-weight: bold;
	font-style:italic;
}

#su_dni{
	text-align: center;
}