.jumbotron{
	
	background: #6fbcc6;
	text-align: center;
	margin-top: 50px;
	
}

footer{

	padding: 10px 10px 0 10px;
	background: #6fbcc6;
	border-bottom: 0px;
	margin-top: 10px;

}

.card-hotel{

	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva{

	width: 100%;
	border-radius: 0px;


}

h1, h2, h3,h4{
	font-weight: bold;
}

/*body{
	background-color: #d9edf0;
}*/

.footer-adress-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}

.boton{
	margin: 5px 10px 5px 10px;
}

.botonContacto{
	margin: 2px 10px 15px 10px;
}

